* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

header {
   background-color: #ff7d00;
   color: #78290F;
   padding: 1rem;
   text-align: center;
   border-radius: 20px;
}

.viesti {
    font-size: 3rem;
    color: #001524;
}

.pelialue {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.vasen-boxi, .oikea-boxi {
    width: 25%;
    background: #FFECD1;
    padding: 1rem;
    box-sizing: border-box;
}

.keski-boxi {
    width: 50%;
}

.vasen-boxi {
    text-align: center;
    color: #78290F;
    font-size: 1.5rem;
}

.keskita {
    text-align: center;
    color: #78290F;
    font-weight: bold;
    margin-top: 1rem;
}

.icon-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.icon-button img {
    width: 50px;
    height: 50px;
}

.icon-button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.pelaa-btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem auto 0;
    background-color: #001524;
    color: #15616D;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.pelaa-btn:hover {
    background-color: #15616D;
    color: #001524;
    transition: background-color 0.3s ease;
}

.alaosa {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.keski-boxi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 1rem;
    background-color: #FFECD1;
}

.hedelmat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.hedelmat img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border: 1px solid #001524;
    border-radius: 4px;
}

.hedelmat img:hover {
    cursor: pointer;
    opacity: .5;
}

.lukot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.lukot img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.item-row {
    margin: 1rem;
}

.item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.item img {
    width: 40px;
    height: 40px;
}

.item span {
    color: #78290F;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff7d00;
    padding: 0.1em;
    font-size: 1em;
    text-align: center;
    color: #78290F;
}

@media only screen and (max-width: 1033px) {
    .pelialue {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .vasen-boxi, .oikea-boxi {
        width: 50%;
        float: left;
    }

    .keski-boxi {
        width: 100%;
        clear: both;
    }

    .hedelmat {
        grid-template-columns: repeat(4,1fr);
    }

    .item {
        justify-content: center;
    }
}